<div class="login-container">
  <div class="login_formulario">
    <div class="login-header">
      <h1>Iniciar Sesión</h1>
      <p>Accede a tu cuenta para continuar</p>
    </div>
    <div class="login-body">
      <div class="login-body-input">
        <div class="form-group">
          <input type="text" class="form-input" placeholder=" " required />
          <label class="form-label">Usuario</label>
          <span class="form-line"></span>
        </div>
      </div>
      <div class="login-body-input">
        <div class="form-group">
          <input type="password" class="form-input" placeholder=" " required />
          <label class="form-label">Password</label>
          <span class="form-line"></span>
        </div>
      </div>
      <div class="login-body-extra">
        <div class="checkbox-wrapper">
          <label class="checkbox-container">
            <input type="checkbox" />
            Recuérdame
          </label>
        </div>
        <p>Recuperar Contraseña</p>
      </div>
      <div class="login-body-button">button</div>
    </div>
    <div class="login-footer">CREAR USUARIO</div>
  </div>
</div>

<form class="login-form" #loginForm="ngForm" (submit)="login()">
  <input
    type="text"
    id="usuario"
    placeholder=" "
    required
    name="username"
    [(ngModel)]="username"
  />
  <label for="usuario">Usuario</label>

  <input
    type="password"
    id="password"
    placeholder=" "
    required
    name="password"
    [(ngModel)]="password"
  />
  <label for="password">Password</label>
  <p>Recuérdame</p>
  <a href="#">¿Olvidaste tu contraseña?</a>
  <button class="btn" type="submit" [disabled]="!loginForm.valid">
    Iniciar Sesión
  </button>
  <p>
    ¿No tienes una cuenta?
    <a routerLink="/newLogin">Crear usuario nuevo</a>
  </p>
</form>
