<form [formGroup]="miFormulario" (submit)="operate()">
  <div class="new-login-container">
    <div class="new-login-formulario">
      <div class="new-login-header">
        <h1>Registro de Usuario</h1>
        <p>Complete todos los campos para crear su cuenta</p>
      </div>
      <div class="new-login-form">
        <p class="icon-text">
          <img src="img/login/icono/user.png" />
          Información de cuenta
        </p>
      </div>
      <div class="new-login-input">
        <div class="new-login-input-comp">
          <input
            type="text"
            placeholder=" "
            required
            formControlName="usuario"
          />
          <label for="usuario">Usuario</label>
        </div>
        <div class="new-login-input-comp">
          <input
            type="password"
            placeholder=" "
            required
            formControlName="password"
          />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="new-login-input">
        <input type="email" placeholder=" " required formControlName="email" />
        <label for="email">Email</label>
      </div>
      <div class="new-login-form">
        <p class="icon-text">
          <img src="img/login/icono/personal.png" />
          Información personal
        </p>
      </div>
      <div class="new-login-input">
        <div class="new-login-input-comp">
          <input
            type="text"
            placeholder=" "
            required
            formControlName="nombre"
          />
          <label for="nombre">Nombre</label>
        </div>
        <div class="new-login-input-comp">
          <input type="text" placeholder=" " required formControlName="dni" />
          <label for="dni">DNI</label>
        </div>
      </div>
      <div class="new-login-input">
        <div class="new-login-input-comp">
          <input
            type="text"
            placeholder=" "
            required
            formControlName="apePaterno"
          />
          <label for="apePaterno">Apellido Paterno</label>
        </div>
        <div class="new-login-input-comp">
          <input
            type="text"
            placeholder=" "
            required
            formControlName="apeMaterno"
          />
          <label for="apeMaterno">Apellido Materno</label>
        </div>
      </div>
      <div class="new-login-input">
        <div class="new-login-input-comp">
          <select formControlName="sexo" required>
            <option value="" disabled selected>Sexo</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
        <div class="new-login-input-comp">
          <input
            type="text"
            placeholder=" "
            required
            formControlName="telefono"
          />
          <label for="telefono">Telefono</label>
        </div>
      </div>
      <div class="new-login-input">
        <input
          type="text"
          placeholder=" "
          required
          formControlName="direccion"
        />
        <label for="direccion">Dirección</label>
      </div>
      <div class="login-button">
        <button
          class="btn"
          type="submit"
          [disabled]="miFormulario.invalid || !miFormulario.touched"
        >
          Registrar usuario
        </button>
      </div>
    </div>
  </div>
</form>
